[package]
name = "markov-chain"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
once_cell = "1.19.0"
rand = "0.8.5"
regex = "1.10.4"
rustc-hash = "1.1.0"
ustr = "1.0.0"
